@font-face {
	font-family: 'Hero';
	src: font-url('Hero.otf') format('truetype');
	font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'HeroLight';
	src: font-url('HeroLight.otf') format('truetype');
	font-weight: normal;
    font-style: normal;
}